body{
	font-family: 'Source Sans Pro', sans serif;
	background-color: #858585;
	background-image: url('escheresque.png');
	font-weight: 400;
}

#content{
	width:970px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 20px;
	padding-bottom: 50px;
	-webkit-box-shadow: 0 0px 10px 1px black;
	-moz-box-shadow: 0 0px 10px 1px black;
	box-shadow: 0 0px 10px 1px black;		
}
.header{
	font-family:'Carrois Gothic SC', sans-serif;
	margin-top: 10px;
}
h1{
	font-family: "Helvetica";
	font-size: 50px;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom:10px;
}
.vis{
	border: 1px solid #ddd;
	width: 930px;
	height: 500px;
}

.description{
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: 300;
}

/*D3*/
.bar {
	fill: violet;
}
.bar:hover {
	fill: rgb(128,0,128);
}
.axis {
	font: 10px sans-serif;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}